<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productscreated</title>
    <link rel="stylesheet" href="{% static "css/table.css" %}">
</head>
<body>
    <section>
        <table style="border: 1px solid black;width:80%;">
            <tr >
                <th style="border: 1px solid black;">Image</th>
                <th style="border: 1px solid black;">Name</th>
                <th style="border: 1px solid black;">Price</th>
                <th style="border: 1px solid black;">Description</th>
                <th style="border: 1px solid black;"></th>
                <th style="border: 1px solid black;"></th>
            </tr>
            {% for i in product %}
            <tr>
                <td><img style="width:90px;height:90px" src="{{i.image.url}}" alt=""></td>
                <td>{{i.name}}</td>
                <td>{{i.rate}}</td>
                <td>{{i.description}}</td>
                <td><a href="{% url "delete" i.id %}"><button type="submit"> Delete</button></a></td>
                <td><a href="{% url "editby" i.id %}"><button type="submit">  Edit</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </section>
</body>
</html>